In [ ]:
1/ Reindexing
Reindex to Align with Other Objects
Filling while ReIndexing
Limits on Filling while Reindexing
Renaming

2/ set_index

3/ reset_index

4/ pandas.DataFrame.rename

5/ pandas.DataFrame.rename_axis

6/ Iteration
iteritems() − to iterate over the (key,value) pairs
iterrows() − iterate over the rows as (index,series) pairs
itertuples() − iterate over the rows as namedtuples

7/ Sorting
By Label: sort_index() 
Sort the Columns
By Value
Sorting Algorithm

8/ Descriptive Statistics: sum(), mean(), std(), describe()

9/ Working with Text Data

10/ Statistical Functions: pct_change(), Covariance, Correlation, Data Ranking

In [ ]:
1/ Reindexing

Reindexing changes the row labels and column labels of a DataFrame. To reindex means to conform the data
to match a given set of labels along a particular axis.

Multiple operations can be accomplished through indexing like −

Reorder the existing data to match a new set of labels.

Insert missing value (NA) markers in label locations where no data for the label existed.

In [3]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

print(df,'\n')

print('Reindex the DataFrame:\n')
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print(df_reindexed)

            A     x         y       C           D
0  2016-01-01   0.0  0.055736    High   98.711677
1  2016-01-02   1.0  0.194887     Low   95.080900
2  2016-01-03   2.0  0.917360    High   73.627051
3  2016-01-04   3.0  0.222255  Medium  107.852307
4  2016-01-05   4.0  0.963420  Medium  112.063995
5  2016-01-06   5.0  0.319463  Medium   95.298387
6  2016-01-07   6.0  0.798221     Low  103.525562
7  2016-01-08   7.0  0.891421  Medium  113.740723
8  2016-01-09   8.0  0.450852    High  127.095933
9  2016-01-10   9.0  0.533124     Low  109.003934
10 2016-01-11  10.0  0.994002     Low   87.966919
11 2016-01-12  11.0  0.146518     Low  109.450578
12 2016-01-13  12.0  0.829900  Medium  110.795746
13 2016-01-14  13.0  0.238532    High  100.690269
14 2016-01-15  14.0  0.480238    High  110.553354
15 2016-01-16  15.0  0.079047     Low  111.977198
16 2016-01-17  16.0  0.453213  Medium  102.352305
17 2016-01-18  17.0  0.821366     Low   95.238873
18 2016-01-19  18.0  0.125969  Medium   82.896324
19 2016-01-20  19.0  0.935012     Low   98.611604

reindex the DataFrame:

           A       C   B
0 2016-01-01    High NaN
2 2016-01-03    High NaN
5 2016-01-06  Medium NaN

In [10]:
# Reindex to Align with Other Objects
# You may wish to take an object and reindex its axes to be labeled the same as another object.

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])

print('df1:\n', df1,'\n')
print('df2:\n', df2,'\n')

df1 = df1.reindex_like(df2)
print('df1.reindex_like:\n', df1,'\n')

print('Note − Here, the df1 DataFrame is altered and reindexed like df2. The column names should be matched or else NAN will be added for the entire column label.')

df1:
        col1      col2      col3
0 -1.248781 -1.084814  2.876913
1  1.077293 -0.180192 -0.266024
2 -0.299811 -0.734426 -0.829420
3 -0.943160 -0.459368 -1.119868
4 -0.131766  0.941568  0.729971
5  1.420157  1.283821  1.156662
6 -1.076283 -0.201857  0.980275
7 -0.055937 -0.371016  0.409064
8  1.279674 -0.226673 -0.290727
9  0.731910 -1.202654 -2.305791

df2:
        col1      col2      col3
0  0.096598 -1.776092 -0.617067
1  0.228719  1.248413 -2.115623
2  0.028009 -0.180583 -0.658622
3 -1.271818 -0.685978 -0.588847
4  2.105269 -0.836055 -0.624839
5  1.131338 -0.873297 -0.137003
6  1.027169  0.272934  0.803413

df1.reindex_like:
        col1      col2      col3
0 -1.248781 -1.084814  2.876913
1  1.077293 -0.180192 -0.266024
2 -0.299811 -0.734426 -0.829420
3 -0.943160 -0.459368 -1.119868
4 -0.131766  0.941568  0.729971
5  1.420157  1.283821  1.156662
6 -1.076283 -0.201857  0.980275

Note − Here, the df1 DataFrame is altered and reindexed like df2. The column names should be matched or else NAN will be added for the entire column label.

In [45]:
import pandas as pd

df1 = pd.DataFrame([[24.3, 75.7, 'high'],
                    [31, 87.8, 'high'],
                    [22, 71.6, 'medium'],
                    [35, 95, 'medium']],
                   columns=['temp_celsius', 'temp_fahrenheit',
                            'windspeed'],
                   index=pd.date_range(start='2014-02-12',
                                       end='2014-02-15', freq='D'))

df2 = pd.DataFrame([[28, 'low'],
                    [30, 'low'],
                    [35.1, 'medium']],
                   columns=['temp_celsius', 'windspeed'],
                   index=pd.DatetimeIndex(['2014-02-12', '2014-02-13',
                                           '2014-02-15']))

print('df1:\n', df1,'\n')
print('df2:\n', df2,'\n')

print('df2.reindex_like(df1):\n',df2.reindex_like(df1))

df1:
             temp_celsius  temp_fahrenheit windspeed
2014-02-12          24.3             75.7      high
2014-02-13          31.0             87.8      high
2014-02-14          22.0             71.6    medium
2014-02-15          35.0             95.0    medium

df2:
             temp_celsius windspeed
2014-02-12          28.0       low
2014-02-13          30.0       low
2014-02-15          35.1    medium

df2.reindex_like(df1):
             temp_celsius  temp_fahrenheit windspeed
2014-02-12          28.0              NaN       low
2014-02-13          30.0              NaN       low
2014-02-14           NaN              NaN       NaN
2014-02-15          35.1              NaN    medium

In [ ]:
# Filling while ReIndexing

reindex() takes an optional parameter method which is a filling method with values as follows −

pad/ffill − Fill values forward

bfill/backfill − Fill values backward

nearest − Fill from the nearest index values

In [44]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

print('df1:\n', df1,'\n')
print('df2:\n', df2,'\n')

print('Padding NAN\'s')
print(df2.reindex_like(df1),'\n')

# Now Fill the NAN's with preceding Values
print("Data Frame with Forward Fill:")
print(df2.reindex_like(df1,method='ffill'))

df1:
        col1      col2      col3
0  1.539139  0.279169  2.285290
1  0.696839  0.902736 -2.033072
2 -0.697489 -2.156309 -0.974394
3 -0.079232  0.387273 -0.984395
4 -0.810838  0.229124  0.472889
5  0.659593 -0.282681  0.596767

df2:
        col1      col2      col3
0  1.580942  1.246085  0.943606
1 -0.454077  0.293966 -0.100313

Padding NAN's
       col1      col2      col3
0  1.580942  1.246085  0.943606
1 -0.454077  0.293966 -0.100313
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

Data Frame with Forward Fill:
       col1      col2      col3
0  1.580942  1.246085  0.943606
1 -0.454077  0.293966 -0.100313
2 -0.454077  0.293966 -0.100313
3 -0.454077  0.293966 -0.100313
4 -0.454077  0.293966 -0.100313
5 -0.454077  0.293966 -0.100313

In [43]:
# Limits on Filling while Reindexing

import pandas as pd
import numpy as np
 
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

print('df1:\n', df1,'\n')
print('df2:\n', df2,'\n')

# Padding NAN's
print(df2.reindex_like(df1),'\n')

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print(df2.reindex_like(df1,method='ffill',limit=1),'\n')

print('Note − Observe, only the 2th row is filled')

df1:
        col1      col2      col3
0  1.058242 -0.211894 -0.670331
1  1.011939 -1.058102  0.190539
2  1.355099 -0.666030  0.510947
3  0.028515 -2.171411 -0.592856
4 -0.224246 -0.524624 -0.216552
5 -0.348224 -0.050186  0.867766

df2:
        col1      col2      col3
0 -1.721724  0.393777  2.172908
1  0.293308 -1.062767  0.022803

       col1      col2      col3
0 -1.721724  0.393777  2.172908
1  0.293308 -1.062767  0.022803
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0 -1.721724  0.393777  2.172908
1  0.293308 -1.062767  0.022803
2  0.293308 -1.062767  0.022803
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

Note − Observe, only the 2th row is filled

In [36]:
# Renaming

# The rename() method allows you to relabel an axis based on
# some mapping (a dict or Series) or an arbitrary function.

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df1,'\n')

print("After renaming the rows and columns:")
print(df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}),'\n')

print('df1:\n', df1)

       col1      col2      col3
0  0.595781  0.017480  1.607643
1 -0.207789  0.978395 -0.712401
2 -1.626889  0.460453 -2.507548
3 -0.044926  0.445114 -1.072922
4 -0.512499 -0.157697  0.906720
5  1.622249  2.321352 -0.956519

After renaming the rows and columns:
              c1        c2      col3
apple   0.595781  0.017480  1.607643
banana -0.207789  0.978395 -0.712401
durian -1.626889  0.460453 -2.507548
3      -0.044926  0.445114 -1.072922
4      -0.512499 -0.157697  0.906720
5       1.622249  2.321352 -0.956519

df1:
        col1      col2      col3
0  0.595781  0.017480  1.607643
1 -0.207789  0.978395 -0.712401
2 -1.626889  0.460453 -2.507548
3 -0.044926  0.445114 -1.072922
4 -0.512499 -0.157697  0.906720
5  1.622249  2.321352 -0.956519

In [37]:
# The rename() method provides an inplace named parameter, which by default is False and copies the underlying data.
# Pass inplace=True to rename the data in place.

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df1,'\n')

print("After renaming the rows and columns:")
print(df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}, inplace = True),'\n')

print('df1:\n', df1)

       col1      col2      col3
0 -0.181666  1.875701  0.313357
1  1.083115 -1.645688 -1.750919
2 -1.232698  1.292557  0.000828
3  0.256843 -0.976213  1.406590
4  0.426234 -0.198088 -2.384239
5  0.372540 -0.776016  0.447568

After renaming the rows and columns:
None

df1:
               c1        c2      col3
apple  -0.181666  1.875701  0.313357
banana  1.083115 -1.645688 -1.750919
durian -1.232698  1.292557  0.000828
3       0.256843 -0.976213  1.406590
4       0.426234 -0.198088 -2.384239
5       0.372540 -0.776016  0.447568

In [ ]:
2/ set_index
Set the DataFrame index (row labels) using one or more existing columns or arrays (of the correct length)

In [51]:
import pandas as pd

df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})

print('df:\n', df,'\n')
df.set_index('month', inplace =True)
print(df)

df:
    month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [54]:
import pandas as pd

df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})

print('df:\n', df,'\n')
df.set_index(['year', 'month'], inplace =True)
print(df)

df:
    month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [56]:
import pandas as pd

df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})

print('df:\n', df,'\n')
df.set_index([pd.Index([1, 2, 3, 4]), 'year'], inplace =True)
print(df)

df:
    month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

        month  sale
  year
1 2012      1    55
2 2014      4    40
3 2013      7    84
4 2014     10    31

In [57]:
import pandas as pd

df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})

print('df:\n', df,'\n')
s = pd.Series([1, 2, 3, 4])
df.set_index([s, s**2], inplace =True)
print(df)

df:
    month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

      month  year  sale
1 1       1  2012    55
2 4       4  2014    40
3 9       7  2013    84
4 16     10  2014    31

In [ ]:
3/ reset_index

Parameters
level
int, str, tuple, or list, default None
Only remove the given levels from the index. Removes all levels by default.

drop 
bool, default False
Do not try to insert index into dataframe columns. This resets the index to the default integer index.

inplace 
bool, default False
Modify the DataFrame in place (do not create a new object).

col_level 
int or str, default 0
If the columns have multiple levels, determines which level the labels are inserted into. By default it is inserted into the first level.

col_fill
object, default ‘’
If the columns have multiple levels, determines how the other levels are named. If None then the index name is repeated.

Returns
DataFrame or None
DataFrame with the new index or None if inplace=True.

In [20]:
import pandas as pd
import numpy as np

df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', np.nan)],
                  index=['falcon', 'parrot', 'lion', 'monkey'],
                  columns=('class', 'max_speed'))
print('df:\n', df, '\n')
print(df.loc['lion'],'\n')

df = df.reset_index()
print('df:\n',df,'\n')

print(df.iloc[2], '\n')

# print(df.loc['lion']) => Error

df:
          class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

class        mammal
max_speed      80.5
Name: lion, dtype: object

df:
     index   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN

index          lion
class        mammal
max_speed      80.5
Name: 2, dtype: object

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', np.nan)],
                  index=['falcon', 'parrot', 'lion', 'monkey'],
                  columns=('class', 'max_speed'))
print('df:\n', df, '\n')
print(df.loc['lion'],'\n')

df.reset_index(drop=True, inplace = True)

print('df:\n', df)

df:
          class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

class        mammal
max_speed      80.5
Name: lion, dtype: object

df:
     class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        NaN

In [7]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
                                   ('bird', 'parrot'),
                                   ('mammal', 'lion'),
                                   ('mammal', 'monkey')],
                                  names=['class', 'name'])
columns = pd.MultiIndex.from_tuples([('speed', 'max'),
                                     ('species', 'type')])
df = pd.DataFrame([(389.0, 'fly'),
                   ( 24.0, 'fly'),
                   ( 80.5, 'run'),
                   (np.nan, 'jump')],
                  index=index,
                  columns=columns)
print('df:\n',df,'\n')

df.reset_index(level='class', inplace = True)

print('df:\n', df,'\n')

print('class:\n\n', df['class'],'\n')

print('speed max:\n\n', df[('speed','max')],'\n')

print('Columns:\n\n',df.columns,'\n')
print('Index:\n\n',df.index,'\n')

print('class, speed max:\n', df[[('class', ''),('speed', 'max')]])

df:
                speed species
                 max    type
class  name
bird   falcon  389.0     fly
       parrot   24.0     fly
mammal lion     80.5     run
       monkey    NaN    jump

df:
          class  speed species
                  max    type
name
falcon    bird  389.0     fly
parrot    bird   24.0     fly
lion    mammal   80.5     run
monkey  mammal    NaN    jump

class:

 name
falcon      bird
parrot      bird
lion      mammal
monkey    mammal
Name: class, dtype: object

speed max:

 name
falcon    389.0
parrot     24.0
lion       80.5
monkey      NaN
Name: (speed, max), dtype: float64

Columns:

 MultiIndex([(  'class',     ''),
            (  'speed',  'max'),
            ('species', 'type')],
           )

Index:

 Index(['falcon', 'parrot', 'lion', 'monkey'], dtype='object', name='name')

class, speed max:
          class  speed
                  max
name
falcon    bird  389.0
parrot    bird   24.0
lion    mammal   80.5
monkey  mammal    NaN

In [9]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
                                   ('bird', 'parrot'),
                                   ('mammal', 'lion'),
                                   ('mammal', 'monkey')],
                                  names=['class', 'name'])
columns = pd.MultiIndex.from_tuples([('speed', 'max'),
                                     ('species', 'type')])
df = pd.DataFrame([(389.0, 'fly'),
                   ( 24.0, 'fly'),
                   ( 80.5, 'run'),
                   (np.nan, 'jump')],
                  index=index,
                  columns=columns)
print('df:\n',df,'\n')

df.reset_index(level='class', col_level=1, inplace =True)

print('df:\n',df,'\n')

df:
                speed species
                 max    type
class  name
bird   falcon  389.0     fly
       parrot   24.0     fly
mammal lion     80.5     run
       monkey    NaN    jump

df:
                 speed species
         class    max    type
name
falcon    bird  389.0     fly
parrot    bird   24.0     fly
lion    mammal   80.5     run
monkey  mammal    NaN    jump

In [12]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
                                   ('bird', 'parrot'),
                                   ('mammal', 'lion'),
                                   ('mammal', 'monkey')],
                                  names=['class', 'name'])
columns = pd.MultiIndex.from_tuples([('speed', 'max'),
                                     ('species', 'type')])
df = pd.DataFrame([(389.0, 'fly'),
                   ( 24.0, 'fly'),
                   ( 80.5, 'run'),
                   (np.nan, 'jump')],
                  index=index,
                  columns=columns)
print('df:\n',df,'\n')

df.reset_index(level='class', col_level=1, col_fill='species', inplace =True)

print('df:\n',df,'\n')

df:
                speed species
                 max    type
class  name
bird   falcon  389.0     fly
       parrot   24.0     fly
mammal lion     80.5     run
       monkey    NaN    jump

df:
        species  speed species
         class    max    type
name
falcon    bird  389.0     fly
parrot    bird   24.0     fly
lion    mammal   80.5     run
monkey  mammal    NaN    jump

In [ ]:
4/ pandas.DataFrame.rename

In [15]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df,'\n')

df.rename(columns={"A": "a", "B": "c"}, inplace =True)
print(df)

   A  B
0  1  4
1  2  5
2  3  6

   a  c
0  1  4
1  2  5
2  3  6

In [22]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df,'\n')

df.rename(index={0: "x", 1: "y", 2: "z"}, inplace = True)
print(df,'\n')

   A  B
0  1  4
1  2  5
2  3  6

   A  B
x  1  4
y  2  5
z  3  6

In [17]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df,'\n')

df.index

   A  B
0  1  4
1  2  5
2  3  6

RangeIndex(start=0, stop=3, step=1)

In [23]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df,'\n')

df.rename(index=str).index

   A  B
0  1  4
1  2  5
2  3  6

Index(['0', '1', '2'], dtype='object')

In [24]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df,'\n')

df.rename(str.lower, axis='columns')

   A  B
0  1  4
1  2  5
2  3  6

   a  b
0  1  4
1  2  5
2  3  6

In [25]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df,'\n')

df.rename({1: 2, 2: 4}, axis='index')

   A  B
0  1  4
1  2  5
2  3  6

   A  B
0  1  4
2  2  5
4  3  6

In [ ]:
5/ pandas.DataFrame.rename_axis

In [65]:
import pandas as pd

s = pd.Series(["dog", "cat", "monkey"])
print(s,'\n')

s.rename_axis("animal",inplace = True) # axis{0 or ‘index’, 1 or ‘columns’}, default 0
print(s)

0       dog
1       cat
2    monkey
dtype: object

animal
0       dog
1       cat
2    monkey
dtype: object

In [33]:
import pandas as pd

df = pd.DataFrame({"num_legs": [4, 4, 2],
                   "num_arms": [0, 0, 2]},
                  ["dog", "cat", "monkey"])

print(df,'\n')

df = df.rename_axis("animal")

print(df,'\n')

        num_legs  num_arms
dog            4         0
cat            4         0
monkey         2         2

        num_legs  num_arms
animal
dog            4         0
cat            4         0
monkey         2         2

In [36]:
6/ Iteration
Do not try to modify any object while iterating. Iterating is meant for reading and the iterator returns a copy of the original object (a view), 
thus the changes will not reflect on the original object.

In [40]:
import pandas as pd
import numpy as np
 
N=5
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

print(df,'\n')

for col in df:
   print(col)

           A    x         y       C           D
0 2016-01-01  0.0  0.495726  Medium   86.243213
1 2016-01-02  1.0  0.954408     Low  100.119970
2 2016-01-03  2.0  0.749279  Medium  107.245671
3 2016-01-04  3.0  0.964540     Low  101.451511
4 2016-01-05  4.0  0.596787    High   85.901782

A
x
y
C
D

In [48]:
# iteritems() − to iterate over the (key,value) pairs

import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df,'\n')

for key,value in df.iteritems():
    print(key,'\n') 
    print(value,'\n')

       col1      col2      col3
0  0.208245  0.124291 -0.396606
1 -0.606954  0.631382 -0.327282
2  0.802822 -2.830758  0.181626
3 -1.585996 -0.075003  0.308504

col1

0    0.208245
1   -0.606954
2    0.802822
3   -1.585996
Name: col1, dtype: float64

col2

0    0.124291
1    0.631382
2   -2.830758
3   -0.075003
Name: col2, dtype: float64

col3

0   -0.396606
1   -0.327282
2    0.181626
3    0.308504
Name: col3, dtype: float64

In [49]:
# iterrows() − iterate over the rows as (index,series) pairs

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
print(df,'\n')

for row_index,row in df.iterrows():
    print(row_index,'\n')
    print(row,'\n')

       col1      col2      col3
0  2.038046 -1.316852 -0.017217
1  2.358425  0.329802 -0.333808
2 -0.134905  1.289524  1.382496
3  0.703751  1.284451  0.708062

0

col1    2.038046
col2   -1.316852
col3   -0.017217
Name: 0, dtype: float64

1

col1    2.358425
col2    0.329802
col3   -0.333808
Name: 1, dtype: float64

2

col1   -0.134905
col2    1.289524
col3    1.382496
Name: 2, dtype: float64

3

col1    0.703751
col2    1.284451
col3    0.708062
Name: 3, dtype: float64

In [52]:
# itertuples() − iterate over the rows as namedtuples

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
print(df,'\n')

for row in df.itertuples():
    print(row)

       col1      col2      col3
0 -1.260480  0.581049  1.021401
1  1.316197 -0.501688 -0.215364
2  0.587083 -0.865326 -0.391171
3 -0.444733  0.959316 -1.704737

Pandas(Index=0, col1=-1.2604803730056988, col2=0.5810489834099891, col3=1.0214011894369859)
Pandas(Index=1, col1=1.3161966133895782, col2=-0.5016880273905509, col3=-0.21536380156084486)
Pandas(Index=2, col1=0.5870834111727686, col2=-0.8653255442530672, col3=-0.39117088943437645)
Pandas(Index=3, col1=-0.4447328969601941, col2=0.9593164335329426, col3=-1.7047374547342993)

In [ ]:
7/ Sorting

In [55]:
import pandas as pd
import numpy as np

unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print(unsorted_df)

       col2      col1
1  0.641013 -0.308905
4 -1.519890  1.152230
6 -0.733408 -0.077357
2  0.643566  0.178069
3 -0.987842 -1.131322
5  0.164336  0.321089
9  1.519332  0.622839
8  2.970809  1.864427
0 -2.184859  1.161792
7 -0.239839  1.329506

In [59]:
# By Label: sort_index() 

import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
print(unsorted_df,'\n')

sorted_df=unsorted_df.sort_index()
print(sorted_df)

       col2      col1
1 -1.392672  1.581171
4  0.155368 -0.470944
6 -0.837914 -0.555942
2 -0.033476  1.163526
3  0.720781 -1.024719
5 -0.459047 -0.049290
9  1.616377 -1.052105
8  0.296932 -1.557814
0  2.295140  1.103058
7  0.368697 -1.061316

       col2      col1
0  2.295140  1.103058
1 -1.392672  1.581171
2 -0.033476  1.163526
3  0.720781 -1.024719
4  0.155368 -0.470944
5 -0.459047 -0.049290
6 -0.837914 -0.555942
7  0.368697 -1.061316
8  0.296932 -1.557814
9  1.616377 -1.052105

In [60]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df=unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
9  0.116053 -0.508482
8  0.809520 -0.496283
7  1.437919  0.161413
6 -0.104203  0.546560
5  0.400545  0.414630
4 -1.752729 -0.333388
3 -1.512777  1.183206
2  1.037082 -0.715643
1 -2.426271  0.561145
0 -0.591685  0.511427

In [64]:
# Sort the Columns

import pandas as pd
import numpy as np
 
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
print(unsorted_df,'\n')
 
sorted_df=unsorted_df.sort_index(axis=1)

print(sorted_df)

       col2      col1
1  0.086841  0.045730
4  0.094750  0.968080
6 -0.957535 -1.148753
2  1.258406 -1.010187
3 -1.172878 -0.282248
5 -1.213410  2.031270
9 -0.279891  1.817819
8  0.406501 -0.723456
0  1.659827  0.183876
7  0.144462 -1.100651

       col1      col2
1  0.045730  0.086841
4  0.968080  0.094750
6 -1.148753 -0.957535
2 -1.010187  1.258406
3 -0.282248 -1.172878
5  2.031270 -1.213410
9  1.817819 -0.279891
8 -0.723456  0.406501
0  0.183876  1.659827
7 -1.100651  0.144462

In [65]:
# By Value

import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df,'\n')

sorted_df = unsorted_df.sort_values(by='col1')
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [66]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df,'\n')

sorted_df = unsorted_df.sort_values(by=['col1','col2'])
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

In [67]:
# Sorting Algorithm
# sort_values() provides a provision to choose the algorithm from mergesort, heapsort and quicksort.
# Mergesort is the only stable algorithm. 

import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print(sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [ ]:
8/ Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [5]:
# sum()

import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df.sum()) # print(df.sum(0)) (axis = 0)

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [66]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
#Create a DataFrame
df = pd.DataFrame(d)
print(df,'\n')

print(df.sum(1)) # axis = 1

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [7]:
# mean(), Returns the average value

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [8]:
# std(), Returns the Bressel standard deviation of the numerical columns

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [ ]:
1	count()	Number of non-null observations
2	sum()	Sum of values
3	mean()	Mean of Values
4	median()	Median of Values
5	mode()	Mode of values
6	std()	Standard Deviation of the Values
7	min()	Minimum Value
8	max()	Maximum Value
9	abs()	Absolute Value
10	prod()	Product of Values
11	cumsum()	Cumulative Sum
12	cumprod()	Cumulative Product

Functions like sum(), cumsum() work with both numeric and character (or) string data elements without any error. Though n practice, character aggregations are never used generally, these functions do not throw any exception.

Functions like abs(), cumprod() throw exception when the DataFrame contains character or string data because such operations cannot be performed.

In [67]:
# describe(), computes a summary of statistics pertaining to the DataFrame columns.

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df,'\n')

print(df.describe())

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [ ]:
This function gives the mean, std and IQR values.
And, function excludes the character columns and given summary about numeric columns. 
include' is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing.
Takes the list of values; by default, 'number'.

object − Summarizes String columns
number − Summarizes Numeric columns
all − Summarizes all columns together (Should not pass it as a list value)

In [69]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['object']))

         Name
count      12
unique     12
top     James
freq        1

In [12]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['number']))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [14]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include='all'))

         Name        Age     Rating
count      12  12.000000  12.000000
unique     12        NaN        NaN
top     James        NaN        NaN
freq        1        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000

In [ ]:
# 9/ Working with Text Data
https://docs.python.org/3/library/stdtypes.html#string-methods

1	
lower()

Converts strings in the Series/Index to lower case.

2	
upper()

Converts strings in the Series/Index to upper case.

3	
len()

Computes String length().

4	
strip()

Helps strip whitespace(including newline) from each string in the Series/index from both the sides.

5	
split(' ')

Splits each string with the given pattern.

6	
cat(sep=' ')

Concatenates the series/index elements with given separator.

7	
get_dummies()

Returns the DataFrame with One-Hot Encoded values.

8	
contains(pattern)

Returns a Boolean value True for each element if the substring contains in the element, else False.

9	
replace(a,b)

Replaces the value a with the value b.

10	
repeat(value)

Repeats each element with specified number of times.

11	
count(pattern)

Returns count of appearance of pattern in each element.

12	
startswith(pattern)

Returns true if the element in the Series/Index starts with the pattern.

13	
endswith(pattern)

Returns true if the element in the Series/Index ends with the pattern.

14	
find(pattern)

Returns the first position of the first occurrence of the pattern.

15	
findall(pattern)

Returns a list of all occurrence of the pattern.

16	
swapcase

Swaps the case lower/upper.

17	
islower()

Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean

18	
isupper()

Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.

19	
isnumeric()

Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

In [15]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [16]:
# lower()

import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [17]:
# upper()

import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [18]:
# len()

import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
print(s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [22]:
# strip()

import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print(s,'\n')
print("After Stripping:\n")
print(s.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object

After Stripping:

0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

In [23]:
# split(pattern)

import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print(s,'\n')
print ("Split Pattern:\n")
print(s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object

Split Pattern:

0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [24]:
# cat(sep=pattern)

import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

In [25]:
# get_dummies()

import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [26]:
# contains ()

import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

In [27]:
# replace(a,b)

import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print(s,'\n')
print ("After replacing @ with $:\n")
print(s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object

After replacing @ with $:

0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [28]:
# repeat(value)

import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [29]:
# count(pattern)

import pandas as pd
 
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print("The number of 'm's in each string:")
print(s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

In [30]:
# startswith(pattern)

import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
print (s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [31]:
# endswith(pattern)

import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [32]:
# find(pattern)
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.find('e')) # "-1" indicates that there no such pattern available in the element.

0   -1
1   -1
2   -1
3    3
dtype: int64

In [33]:
# findall(pattern)

import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.findall('e')) # Null list([ ]) indicates that there is no such pattern available in the element.

0     []
1     []
2     []
3    [e]
dtype: object

In [34]:
# swapcase()

import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

In [35]:
# islower()

import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [36]:
# isupper()

import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print (s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [37]:
# isnumeric()

import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print (s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool

In [ ]:
# 10/ Statistical Functions

In [39]:
# Percent_change, compares every element with its prior element and computes the change percentage

import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,5,4])
print(s,'\n')
print(s.pct_change(),'\n')

df = pd.DataFrame(np.random.randn(5, 2))
print(df,'\n')
print(df.pct_change())

0    1
1    2
2    3
3    4
4    5
5    4
dtype: int64

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

          0         1
0  0.159625  0.405766
1  0.877709 -2.305769
2 -1.252604 -0.022252
3 -0.940823 -0.761307
4 -0.969631  0.814137

          0          1
0       NaN        NaN
1  4.498571  -6.682507
2 -2.427128  -0.990349
3 -0.248906  33.212427
4  0.030620  -2.069394

In [40]:
# Covariance
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
print(s1.cov(s2))

-0.11315143961575054

In [43]:
# Covariance method when applied on a DataFrame, computes cov between all the columns

import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print(frame,'\n')

print(frame['a'].cov(frame['b']),'\n')
print(frame.cov())

          a         b         c         d         e
0 -0.963668  1.157225  1.175351  0.052750  1.554163
1 -0.081542  1.172364 -0.936548 -0.001814 -1.018801
2  0.629388 -0.410038 -0.044189 -0.762035 -1.751541
3  0.870422 -0.845704  0.638655 -1.895047 -2.615335
4 -0.005414 -1.484452  0.036096 -0.635582  1.037209
5  1.295161  0.291496  0.445773 -2.204525 -0.083720
6  1.126438 -0.456718  0.375757  0.983119  0.151723
7 -0.006333 -0.224121 -0.548389  0.865338 -0.174773
8  0.732688 -1.032895  0.441370 -1.058530  0.872719
9 -0.106148 -2.040720  0.958785 -0.897695  1.031908

-0.16892880520173226

          a         b         c         d         e
a  0.484982 -0.168929 -0.021147 -0.296778 -0.428638
b -0.168929  1.097256 -0.184418  0.267319 -0.161483
c -0.021147 -0.184418  0.419768 -0.237711  0.329872
d -0.296778  0.267319 -0.237711  1.110616  0.388271
e -0.428638 -0.161483  0.329872  0.388271  1.802756

In [ ]:
# Correlation

Correlation shows the linear relationship between any two array of values (series).
There are multiple methods to compute the correlation like pearson(default), spearman and kendall.

In [45]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print(frame,'\n')

print(frame['a'].corr(frame['b']),'\n')
print(frame.corr())

          a         b         c         d         e
0  0.068874 -1.551737  0.717593 -0.577550  1.034366
1 -1.259794  0.803143  0.736177  0.740028 -0.231210
2 -0.409088  0.661228 -0.594742  1.165111 -1.203028
3  0.572032  1.070472  0.981272 -0.761237 -1.281875
4  0.916797 -0.136164 -0.751192  0.468489 -0.475938
5 -0.117799 -0.104966 -1.366278  2.662428  0.524744
6  0.209513  1.147040 -0.367812  1.536831 -1.314009
7  0.570193 -1.207380  0.366087 -0.978656 -1.061114
8 -1.065605  0.692569 -1.591817 -2.024400 -1.472793
9  0.111200 -0.462415 -1.036797  0.822227  0.730900

-0.34955126527590424

          a         b         c         d         e
a  1.000000 -0.349551  0.168501  0.041950  0.033829
b -0.349551  1.000000 -0.105910  0.168406 -0.634886
c  0.168501 -0.105910  1.000000 -0.254719 -0.003702
d  0.041950  0.168406 -0.254719  1.000000  0.342487
e  0.033829 -0.634886 -0.003702  0.342487  1.000000

In [56]:
# Data Ranking

import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index=list('abcde'))
#s['d'] = s['b'] # so there's a tie
print(s,'\n')

print(s.rank())

a   -0.261840
b    0.473508
c   -0.735260
d   -0.284385
e   -0.460117
dtype: float64

a    4.0
b    5.0
c    1.0
d    3.0
e    2.0
dtype: float64

In [57]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index=list('abcde'))
s['d'] = s['b'] # so there's a tie
print(s,'\n')

print(s.rank())

a   -0.246555
b    0.712398
c    0.648688
d    0.712398
e    0.255595
dtype: float64

a    1.0
b    4.5
c    3.0
d    4.5
e    2.0
dtype: float64