In [ ]:
List is a collection which is ordered and changeable, allows duplicate members []
Tuple is a collection which is ordered and unchangeable ()
Set is a collection which is both unordered and unindexed, unchangeable, and do not allow duplicate values {}
Dictionaries are used to store data values in key:value pairs, ordered*, changeable and does not allow duplicates {}
#List: is a collection which is ordered and changeble, allow duplicte member

In [ ]:
lecturers = ['Phúc', 'Nam'] # list
print(lecturers)
print(lecturers[0])
print(lecturers[1])
print('The lecturer of this course is:', lecturers[1])

In [ ]:
lecturers = ['Phúc', 'Nam', 'Nam'] # list
print(lecturers)

In [ ]:
lecturers1 = [
    'Phúc',
    'Nam'
]
print(lecturers1)

In [1]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))

['abc', 34, True, 40, 'male']
<class 'list'>
<class 'str'>
<class 'int'>
<class 'bool'>

In [2]:
list1 = ["abc", 34, True, 40, "male"]
print(len(list1))
print(type(list1))

5
<class 'list'>

In [ ]:
# The list() Constructor => Tạo list từ một collection khác
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
# Access Items

In [3]:
thislist = ["apple", "banana", "cherry"]
print(thislist[0])
print(thislist[1])
print(thislist[2])
print(thislist[-1])
print(thislist[-2])
print(thislist[-3])

apple
banana
cherry
cherry
banana
apple

In [4]:
# Slice list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4]) #Từ đầu đến chỉ số 3
print(thislist[2:])
print(thislist[-4:-1])
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list

In [ ]:
# Change Item Value

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant" #Gán vào phần tử có chỉ số 1
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"] #Gán vào phần tử có chỉ số 1 -> 3, bỏ chỉ số 3 đi là 1 với 2 thôi
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [7]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1:3])
thislist[1:3] = ["watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'watermelon']

In [ ]:
# Insert Items

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon") #Chèn vào phía trước chỉ số 2
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = [thislist[1], "watermelon"] #Đổi giá trị chỉ số 1 bằng thislist[1]
print(thislist)

In [ ]:
# Add List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange") #Thêm 'orange' vào vị trí cuối cùng
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") #Thêm 'orange' vào trước vị trí số 1
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange", "mango")
print(thislist)
# Báo lỗi vì append() chỉ thêm được một phần tử chứ koong thêm đc 2 phần tử 1 lúc

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.append(["orange", "mango"]) # ["orange", "mango"] Là MỘT phần tử list nên ko báo lỗi
print(thislist)

['apple', 'banana', 'cherry', ['orange', 'mango']]

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange", "mango") 
print(thislist) 
# Báo lỗi vì Hàm insert() chỉ chứa 2 tham số thôi

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, ["orange", "mango"])
print(thislist)

['apple', ['orange', 'mango'], 'banana', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
#Insert() thêm vào vị trí bất kỳ, một phần tử
#Append() thêm vào vị trị cuối, một phần tử
#Extend() thêm vào vị trí cuối, nhiều phần tử

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# Add Any Iterable (một trong 4 collection)
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [12]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
# Remove List Items

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1) #Loại bỏ phần tử có chỉ số 1
 bỏprint(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() #Măc định loại bỏ phần tử cuối
print(thislist)

In [15]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) 
#Báo lỗi vì mình đã xóa luôn biến thislist rồi nên ko thể print được

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() #Xoá hết phần tử trong list -> list còn lại rỗng
print(thislist)

[]

In [ ]:
# Loop Lists

In [17]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [18]:
thislist = ["apple", "banana", "cherry"]
print(range(len(thislist))) #0,1,2 thôi bỏ 3 cuối
print("start for loop")
for i in range(len(thislist)):
  print(i)
  print(thislist[i])

range(0, 3)
start for loop
0
apple
1
banana
2
cherry

In [19]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(i)
  print(thislist[i])
  i = i + 1

0
apple
1
banana
2
cherry

In [22]:
# Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
# List Comprehension
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# The Syntax
newlist = [expression for item in iterable if condition == True]

In [24]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [25]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits] # -> tạo ra vùng nhớ khác cho newlist
# fruits & newlist có 2 vùng nhớ khác nhau
print(newlist)
print(fruits is newlist) # so sánh đia chỉ ô nhớ
print(fruits == newlist) #so sánh về giá trị

['apple', 'banana', 'cherry', 'kiwi', 'mango']
False
True

In [26]:
print(range(10))
newlist1 = [x for x in range(10)]
newlist2 = [x for x in range(10) if x < 5]
print(newlist1)
print(newlist2)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [27]:
# Expression
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist1 = [x.upper() for x in fruits]
print(newlist1)
newlist2 = ['hello' for x in fruits]
print(newlist2)
newlist3 = [x if x != "banana" else "orange" for x in fruits]
print(newlist3)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
# Sort Lists

In [33]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [29]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [31]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True) #reserse: đảo ngược
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [32]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
# Customize Sort Function
# You can also customize your own function by using the keyword argument key = function.
# The function will return a number that will be used to sort the list (the lowest number first):
# Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [35]:
#Case Insensitive Sort
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort() #case sensitive
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [36]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower) #Case Insensitive
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [37]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
# Copy Lists
# You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, 
# and changes made in list1 will automatically also be made in list2.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist #Not copy -> cùng trỏ về cùng một ô nhớ trên RAM
print(mylist is thislist)
print(mylist == thislist)

In [38]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist
print(thislist is mylist)
print(thislist == mylist)
del thislist[0]
print(thislist)
print(mylist)

True
True
['banana', 'cherry']
['banana', 'cherry']

In [39]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() #mylist có vùng nhớ khác
print(mylist)
print(thislist is mylist)
print(thislist == mylist)

['apple', 'banana', 'cherry']
False
True

In [40]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)
print(thislist is mylist)

['apple', 'banana', 'cherry']
False

In [ ]:
# Join Lists

In [41]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [42]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [43]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [44]:
fruits = ["apple", "cherry", "banana", "cherry"]

x = fruits.count("cherry")
y = fruits.index("cherry")

print(x)
print(y)

2
1

In [45]:
#Bỏ những phần tử trùng lắp
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [ ]:
# Tuple
# Tuples are used to store multiple items in a single variable.
# A tuple is a collection which is ordered and unchangeable.
# Tuples are written with round brackets.

In [46]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))
print(thistuple[1])

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
banana

In [47]:
thistuple = ("apple",) # One item tuple, remember the commma
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

In [48]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [49]:
thistuple = ("apple", "banana", "acherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[2:])
print(thistuple[-4:-1])

banana
mango
('cherry', 'orange', 'kiwi')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [52]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
# Update Tuples
# Tuples are unchangeable, meaing that you cannot change, add, or remove items once the tuple is created.
# But there are some workarounds.

In [53]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [54]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [55]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [56]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [1]:
# Unpack Tuples
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple
# we are also allowed to extract the values back into variables. This is called "unpacking"

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)
print(type(green))

apple
banana
cherry
<class 'str'>

In [2]:
# Using Asterisk*
# If the number of variables is less than the number of values,
# you can add an * to the variable name and the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
print(type(yellow))
print(type(red))

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'str'>
<class 'list'>

In [3]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
# Loop Tuples

In [4]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [5]:
thistuple = ("apple", "banana", "cherry")
print(range(len(thistuple)))
for i in range(len(thistuple)):
  print(i)
  print(thistuple[i])

range(0, 3)
0
apple
1
banana
2
cherry

In [6]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(i)
  print(thistuple[i])
  i = i + 1

0
apple
1
banana
2
cherry

In [ ]:
# Join Tuples

In [7]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [8]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [9]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [10]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [ ]:
# Set
# A set is a collection which is both unordered and unindexed.
#Set items are unordered, unchangeable, and do not allow duplicate values
# Once a set is created, you cannot change its items, but you can add new items
# Sets are written with curly brackets.

In [11]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)
#Chỉ in ra 1 lần apple thôi -> tính không trùng lắp

{'apple', 'banana', 'cherry'}

In [15]:
thisset1 = {"apple", "banana", "cherry"}
thisset2 = {"apple", "banana", "cherry", "apple"}
print(len(thisset1))
print(len(thisset2))

3
3

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

In [14]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [16]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
# Access Items

In [17]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [18]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
# Add Set Items

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange") #Thêm 1 phần tử bằng hàm add()

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [20]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical) 

print(thisset)

{'papaya', 'apple', 'pineapple', 'banana', 'mango', 'cherry'}

In [21]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist) #Thêm iterable bằng hàm update()
print(thisset)

{'apple', 'orange', 'kiwi', 'banana', 'cherry'}

In [ ]:
# Remove Set Items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # If the item to remove does not exist, remove() will raise an error

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana") # If the item to remove does not exist, discard() will NOT raise an error.

print(thisset)

In [22]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # remove the last item, Sets are unordered, so when using the pop() method, 
                  # you do not know which item that gets removed

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [23]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [24]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
# Loop Sets

In [25]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
#Ko dùng hàm while đc vì nó ko có index

apple
banana
cherry

In [ ]:
# Join Sets

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [27]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [28]:
# Both union() and update() will exclude any duplicate items.

AttributeError: 'tuple' object has no attribute 'union'

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) #intersection_update() -> lấy phần giao

print(x)

{'apple'}

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)
print(x)

{'apple'}
{'apple', 'banana', 'cherry'}

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) #Phần x & y không giao nhau

print(x)

{'google', 'microsoft', 'banana', 'cherry'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'microsoft', 'banana', 'cherry'}

In [33]:
Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update

{'apple', 'banana', 'cherry'}

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
u = y.difference(x)

print(z)
print(u)

{'banana', 'cherry'}
{'google', 'microsoft'}

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) #x không có phần tử nào trong y -> True
print(z)

True

In [38]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) #x là tập con của y

print(z)

True

In [39]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [40]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) # x là tập cha của y

print(z)

True

In [41]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [1]:
mylist = ["a", "b", "a", "c", "c"]
myset = set(mylist)
mylist = list(myset)
print(mylist)

['c', 'b', 'a']

In [ ]:
# Dictionaries
# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered*, changeable and does not allow duplicates.
# Dictionaries are written with curly brackets, and have keys and values

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
<class 'dict'>

In [3]:
# can be referred to by using the key name
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [4]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [5]:
# The values in dictionary items can be of any data type
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
x=thisdict.values()
print(x)

dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])

In [ ]:
# Accessing Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
# print(thisdict[1]) #Error

In [9]:
thisdict = {
  "brand": "Ford","X","M"
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [6]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [7]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [14]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change
print(car)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [13]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change
# print(x[1]) # Error

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [15]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
if "Ford" in thisdict:
  print("Yes, 'Ford' is one of the values in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
# Change Dictionary Items

In [17]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [18]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# Add Dictionary Items

In [19]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# Remove Dictionary Items

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
zip

{'brand': 'Ford', 'year': 1964}

In [22]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem() #removes the last inserted item
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
# Loop Dictionaries

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
# Copy Dictionaries
# You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1,
# and changes made in dict1 will automatically also be made in dict2

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Nested Dictionaries

In [33]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [34]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [38]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [39]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [40]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco") 
# Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

print(x)

Mustang

In [43]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)
print(car)

white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [44]:
l1=['name', 'age', 'marks']
l2=['Ravi', 23, 56]
z=zip(l1,l2)
print(z, type(z)) #print(z) -> trả về địa chỉ trong bộ nhớ RAM
newdict=dict(z)   #nên phải sử dụng constructor để gán
print(newdict)

<zip object at 0x000001430DCC82C0> <class 'zip'>
{'name': 'Ravi', 'age': 23, 'marks': 56}

In [45]:
name = input("What is your name? ")
print("Nice to meet you,", name)

What is your name? Nhung Nguyen
Nice to meet you, Nhung Nguyen